language: android
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"
android:
  components:
  - build-tools-27.0.3
  - android-26
before_install:
- openssl aes-256-cbc -K $encrypted_3c2e38b2f4c5_key -iv $encrypted_3c2e38b2f4c5_iv -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- mv google-services.json refreshed/google-services.json
- rvm install 2.2.6
- gem install dropbox-deployment
script:
- "./gradlew assembleRelease"
deploy:
  provider: releases
  api_key:
    secure: LsOsKwTkp2OyUKuxo5qqcSH8atWOWu3HJZ/WpqOjNV/9oa77TnN8ewam+G/tOTz3TmE3AVfuEH1GLZsMJq6pe/XyY1vN+ApJSmcWKk2IlhbGpPmGTVVakh2Rx39dec4BhZmCrjaONgcXhM+bV7xSQXLzsj8XTgSKT4r9EGMaW9OZPaJuciO/zDR3cByF6Tcojbhu9nusMj1HK/DNbj83xGUocDhFDgSymXBeb1I/Gy75J6leCwtBG4ykShq5NUhUfTplip1kp9F8izY+PnfiNZqFzG7m0/Ra5A+bKznD0YmdIzdBJu8hUoP1i1Fsu7W2YKo2Vn0y+pPP11xT9JIqDY9owtkmtFgIUGxn23uN7kl2PZzSrFqzLLG1p8Q0Jk52+UaX+quXc1XMYF7ySM+E0nR8LBcy2Ip+sUZorKv7+2Z37sDcxS50GgLRU46T/iTdGeZR7C8T6stMUxD3fNny+rhZ621xj+WfiIrur1xALoiludrrPCPozQb1IIdxLWOXfMgwBJQPVlsAXDBqzcxMGOob49gdZFWZZI2qk9VDIT/igItEuhf/kAwH6d8cBcVsKUgBhuVYR+sLBmNS67EpXDQFn+RSQu5ElDwtGlVgv/H+TLdrvnUgtBJJhdj99kMUEn1xeTXCqkQQPNNAFgtxDxL2uhOslOGwlYh813PUK+M=
  file_glob: true
  file: refreshed/build/outputs/apk/release/*.apk
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
after_deploy:
- dropbox-deployment
