<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.jienan.refreshed" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".base.RefreshedApplication">
        <activity
            android:name="xyz.jienan.refreshed.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DesignDemo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name="xyz.jienan.refreshed.source_select.SourcesSelectActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity android:name="xyz.jienan.refreshed.island.NewsIslandActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <meta-data
            android:name="ADMOD_LIST_INSERT_ADS_UNIT_ID"
            android:value="${ADMOD_LIST_INSERT_ADS_UNIT_ID}" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}"/>
        <meta-data
            android:name="NEWSAPI_API_KEY"
            android:value="${NEWSAPI_API_KEY}" />
        <meta-data
            android:name="ALTER_HOST_API_KEY"
            android:value="${ALTER_HOST_API_KEY}" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

    </application>

</manifest>